@{
    ViewBag.Title = "配置编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/layer/layer.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
    });

    function initControl() {
        if (!!keyValue) {
            $.ajax({
                url: "/SystemSecurity/ConfigChange/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemSecurity/ConfigChange/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                 $.currentWindow().$.IntervalLoad();
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px;">
            <div id="a" class="tab-pane active" style="padding: 15px;">
                <table class="form">
                    <tr>
                        <th class="formTitle">配置KEY</th>
                        <td class="formValue">
                            <input id="F_Key" name="F_Key" type="text" maxlength="50" class="form-control required" placeholder="请输入KEY" />
                        </td>
                        <th class="formTitle">配置VALUE</th>
                        <td class="formValue">
                            <input id="F_Value" name="F_Value" type="text" maxlength="200" class="form-control required" placeholder="请输入VALUE" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>

