<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=.;Initial Catalog=HengyuSoft;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  <!--<add name="NFineDbContext" connectionString="Server=172.16.2.241;Initial Catalog=HengyuSoft;User ID=sa;Password=Hy123456" providerName="System.Data.SqlClient" />-->
</connectionStrings>