<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="LoginProvider" value="Cookie" />
  <add key="IsLog" value="true" />
  <add key="CommandTimeout" value="1800" />
  <add key="IsIPFilter" value="false" />
  <add key="Contact" value="" />
  <add key="SoftName" value="恒禹开发框架" />
  <add key="Version" value="1.0" />
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <add key="MailName" value="邮件中心" />
  <add key="MailUserName" value="sendbug@nfine.cn" />
  <add key="MailPassword" value="123456" />
  <add key="MailHost" value="smtp.ym.163.com" />
  <add key="ImgFolder" value="ImgList" />
  <add key="SourceFolder" value="SourceList" />
  <add key="CacheType" value="WebCache" />
  <add key="CTDBBasePath" value="E:\CTDBBase\" />
  <!--链接控制台服务,考虑优先级-->
  <add key="iplist" value="127.0.0.1" />
  <!--创蓝短信接口-->
  <add key="PostUrl" value="http://smssh1.253.com/msg/send/json"/>
  <add key="Account" value="N5363870"></add>
  <add key="Password" value="Ty15026782737"></add>
  <add key="Msgtitle" value="【253云通讯】"></add>
</appSettings>