<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="LoginProvider" value="Cookie" />
  <add key="IsLog" value="true" />
  <add key="CommandTimeout" value="1800" />
  <add key="IsIPFilter" value="false" />
  <add key="Contact" value="" />
  <add key="SoftName" value="恒禹开发框架" />
  <add key="Version" value="1.0" />
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <add key="MailName" value="邮件中心" />
  <add key="MailUserName" value="sendbug@nfine.cn" />
  <add key="MailPassword" value="123456" />
  <add key="MailHost" value="smtp.ym.163.com" />
  <add key="ImgFolder" value="ImgList" />
  <add key="SourceFolder" value="SourceList" />
  <add key="CacheType" value="WebCache" />
  <add key="CTDBBasePath" value="E:\CTDBBase\" />
  <add key="iplist" value="127.0.0.1" />
  <add key="UrlExpireTime" value="120" />
  <add key="PostUrl" value="http://smssh1.253.com/msg/send/json" />
  <add key="Account" value="N7869816" />
  <add key="Password" value="fZ4lcxp0h" />
  <add key="Msgtitle" value="【253云通讯】" />
  <add key="Description" value="Bh_Crm定时任务服务节点" />
  <add key="DisplayName" value="Bh_Crm_QuartzServer" />
  <add key="ServiceName" value="Bh_Crm_QuartzServer" />
  <add key="channelType" value="tcp" />
  <add key="localIp" value="127.0.0.1" />
  <add key="port" value="555" />
  <add key="bindName" value="QuartzScheduler" />
  <add key="connectionString" value="Server=172.16.2.241;Initial Catalog=GenWei2;User ID=sa;Password=Hy123456" />
  <add key="PlatformPrivateKey_Web" value="xxxxx" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:appStartup" value="false" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="dllName" value="JobManager_Core.dll" />
  <add key="FullJobName" value="JobManager_Core.JobExcute.JobItem" />
</appSettings>