.process-icon{
    width: 780px;
    height:100px ;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.transverse{
     position: absolute;
     top:47px ;
     width: 772px;
     height: 6px ;
     background-color: #cccccc;
     border-radius:5px ;
     margin-left: 4px;
     margin-right: auto;
 }
/*进行中*/
.transverse-conduct{
    display: block;
    float: left;
    width: 195px;
    height: 6px ;
    background-color: #00a86b;
    border-radius:5px ;
    margin-left: -2px;

}
.transverse-finish{
    display: block;
    float: left;
    width: 195px;
    height: 6px ;
    background-color: #caecb6;
    border-radius:5px ;
    margin-left: -2px;

}
.transverse-text{
    position: absolute;
    top:35px ;
    width: 772px;
    height: 6px ;
    margin-left: 4px;
    margin-right: auto;
}
.transverse-text li{
  display: block;
    float: left;
    width: 195px;
    margin-left: -2px;

}
.transverse-text div{
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #cccccc;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}
.transverse-text p{
    line-height: 30px;
    text-align: center;
    margin: auto;
}
.transverse-text-finish {

    background-color: #caecb6 !important;

}
.transverse-text-ql{

    color: #caecb6;
}
.transverse-text-conduct{

    background-color: #00a86b !important;

}
.transverse-text-sl{

    color: #00a86b;
}
.reg-fill{
    width: 1200px;
    height: 320px;
   margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}
.one{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.one label{
    width: 55px;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    font-size: 16px;
    padding: 0 5px;
    text-align: right;
}
.reg-fill input{
    width:200px;
    padding: 0 5px;
    border:  #cccccc solid 1px;
    line-height: 40px;
    float: left;
    font-size: 16px;
    color: #30385f;
    border-radius: 5px;
    margin-top: 15px;
}



.log-ver{
    width: 450px;
    height: 40px;

    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
}

.log-ver img{
    padding-top: 18px;
    padding-left: 15px;
    float:left ;
}
.log-ver a{
    padding-top: 15px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    float:left ;
    color: #008de6;
}
.log-ver a:hover{

    text-decoration:underline;
}

.log-text{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    background-color: #00a86b;
    color: #ffffff;
    display: block;
    float: right;
    margin: 50px auto;
    border-radius: 3px;

    border: none;
}

.log-text:hover{

    background-color: #009c63;

}
.two{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.two label{
    width:150px ;
    float: left;
    line-height: 40px;
    text-align: right;
    margin-top: 15px;
    padding: 0 5px;
    font-size: 16px;
}
.verification-selected{
    width:200px;
    padding: 0 5px;
    height: 40px;
    border:  #cccccc solid 1px;
    line-height: 40px;
    float: left;
    font-size: 16px;
    color: #30385f;
    border-radius: 5px;
    margin-top: 15px;
}
.nichen{
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: 600;font-size: 16px;
    margin-top: 15px;
}
.two p{
    color: #005ea7;
    float: left;
    line-height: 40px;
    margin-top: 15px;
    font-size: 12px;
    padding-left: 5px;
}
.get-code{
    width:100px;
    height: 40px;
    font-size: 16px;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 25px;
    border: none;
    background-color: #00a86b;
    color: #ffffff;
}
.get-code:hover{
    background-color: #009c63;
}

.three{
    width: 322px;
    margin-left: auto;
    margin-right: auto;
}
.three label{
    width: 100px;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    font-size: 16px;
    padding: 0 5px;
    text-align: right;
}
.four{
    width: 322px;
    margin-left: auto;
    margin-right: auto;
}
.tick-icon{
    width: 100px;
    float: left;
   font-size:80px;
    font-weight: bolder;
    color:#00a86b ;
}
.four-text{
    float: left;
    padding-top: 20px;
}
.four-text span{
    color: #00a86b;
    font-size: 16px;
}

.four-text p{
    color: #cccccc;
    font-size: 14px;
    line-height: 30px;
}

.four-text a:hover{
    color: #00a86b;
}
















