@charset "utf-8";
/* CSS Document */

/*刘亚苹制作*/

/*公共部分*/
body{ font-family:"微软雅黑"; font-size:14px; color:#737373; margin:0px;margin:0 auto; width:100%;list-style:none; height:100%;background:#ffffff;position:relative;}
a{color:#737373;outline: none; font-style:normal; font-size:14px; text-decoration:none;cursor:pointer;}
a:hover{ color:#737373; text-decoration: none;}
ul,li,p,form,,span,em,b,dl,dd,i{ margin:0; padding:0; font-style:normal; color:#505966;list-style-type:none;}
li{list-style-type:none;}
button{cursor:pointer;}
img{ border:0; display:block}
strong{ color:#000}
.clear{ clear:both}
input{outline: 0;}

/*皮肤*/
.skin{ width: 100%; height: 100%; background: url(../images/back1.png) no-repeat center top #000000; background-size:100% ;}

/*头部*/
.top{ height: 35px; margin-top: 20px; padding: 0 15px; overflow: hidden;}
.register{float: right; overflow: hidden;}
.reg-button{width: 100px; height: 35px; border: 1px solid #ffffff; color: #ffffff; background: none; line-height: 31px; text-align: center;font-family:"微软雅黑"; float: left; margin-right: 10px;}
.reg-button-1{width: 100px; height: 35px;border: 1px solid #ffffff;color: #ffffff; background: #00a86b; line-height: 31px; text-align: center;font-family:"微软雅黑";float: left;}
.reg-button-1:hover{background: #009c63;}
.regislist{float: right; margin-right: 10px;}
.regislist a{color: #ffffff; line-height: 35px; padding: 0 8px;}
.regislist a:hover{color: #dddddd;}
.regislist i{ margin-right: 5px;}

/*底部*/
.bottom{position: fixed; bottom: 0; width: 100%; height: 75px; background: #ffffff; text-align: center; line-height: 25px; padding-top: 25px;}
.bottom a{margin: 0 10px;}
.bottom a:hover{text-decoration: underline;}

/*内容*/
.content{margin: 0 auto;overflow: hidden; padding-top: 200px;}
.logo{width: 178px; height: 42px; margin: 20px auto;}
.search{width: 670px;margin: 0 auto;}
.sear-RE{width: 490px; border-top-left-radius: 5px;border-bottom-left-radius: 5px; height: 47px; line-height: 47px; background: #ffffff;border: none; padding: 0 10px;font-family:"微软雅黑"; font-size: 15px;}
.sear-button{ height: 47px; line-height: 47px; width: 160px; background:url(../images/seek.png) bottom no-repeat #00a86b;color: #ffffff;border: none; float: right;font-family:"微软雅黑";border-top-right-radius: 5px;border-bottom-right-radius: 5px;font-size: 17px;}
.sear-button:hover{background-color: #009b63;}
#word{position: absolute;z-index: 99;width: 670px;height: auto;background-color: white;border: #CCCCCC solid 1px;display: none;}
.click_work{ line-height: 30px; padding: 0 10px;}
.click_work:hover{cursor:pointer;/*鼠标放上变成小手*/background: #f2f7fb;}
.recommend{color: #bfbebe; text-align: center; height: 30px; line-height: 30px; margin-top: 12px;}
.recommend a{color: #ffffff; margin-left: 5px;}
.recommend a:hover{text-decoration: underline;}

/*登录*/
.md-content{background: #ffffff; width: 424px; height: 520px; border-radius: 5px;box-shadow:0 0 30px #000000;}
.md-content > div{padding: 0;}

.mod_login{ background-size: 100%; width: 424px; height: 400px; margin-top: 40px;position: absolute;z-index: 1;}
.mod_login .yzt_qrcode{width: 72px; height: 72px; position: absolute; right: 10px;top: 10px;}
.mod_login .yzt_qrcode .pc{background-repeat:no-repeat; display:block; background:url(../images/dn.png); background-size: 100%; width:72px; height:72px; }
.mod_login .yzt_qrcode .wx{background-repeat:no-repeat; width:72px; height:72px; display:block; background:url(../images/rwm.png);background-size: 100%;}

.login-tip { position:absolute; top:25px; right:55px;}
.poptip {border:1px solid #63caa4;height:16px;line-height:16px;padding:5px 10px 5px 10px;background:#f5fcf9;position:relative;}
.poptip .poptip-content {color:#00a86b;font-size:12px;font-weight:400;}
.poptip .poptip-content .iconfont {font-size:14px;margin-right:8px;}
.poptip-arrow {position:absolute;z-index:10;*zoom:1;}
.poptip-arrow em,.poptip-arrow span {position:absolute;*zoom:1;width:0;height:0;border-color:rgba(255,255,255,0);border-color:transparent \0;*border-color:transparent;_border-color:tomato;_filter:chroma(color=tomato);border-style:solid;overflow:hidden;top:0;left:0}
.poptip-arrow {top:8px;right:0}
.poptip-arrow em {top:0;left:1px;border-left-color:#00a86b;border-width:6px 0 6px 6px}
.poptip-arrow span {border-left-color:#f5fcf9;border-width:6px 0 6px 6px}

.loginbox{ width:372px;margin:0px auto; overflow:hidden;}
.l_form{ width:100%; margin-top:20px; overflow:hidden;}
.titte{ font-weight: bold;width:372px; height: 50px; line-height: 50px; color: #00a86b; font-size: 20px;}
.titte-1{ height: 20px; line-height: 20px;}
.form{float: left; color: #737373; font-size: 14px;}
.form-1{float: right;text-decoration:underline; color: #00a86b;}
.form-1:hover{text-decoration:underline;color: #009c63;}
.login_magin{ margin:0 0 20px 22px; width:330px; overflow: hidden;}
.login_input{background: #eef1f4;border-radius: 5px;width:330px;}
.login_input i{width:40px; text-align: center;float: left; line-height: 48px; font-size: 22px; color: #00a86b;}
.l_input{ width:280px; height:48px; line-height: 48px; border:none; padding:2px 5px; background: none; overflow:hidden;color:#30385f; font-size: 16px; font-family: "微软雅黑";}
.l_btn{ width:100%; height:48px; border:none; background-color:#00a86b; border-radius: 5px; box-sizing: content-box; overflow:hidden; color:#FFF; font-size: 18px;padding: 0;font-family: "微软雅黑";}
.l_btn:hover{background: #009b63;cursor:pointer;}
.l_yzm{ width:140px; height:48px; line-height: 48px; border:none; padding:2px 10px; overflow:hidden;color:#30385f; font-size: 16px; font-family: "微软雅黑";background: #eef1f4;border-radius: 5px; float: left; margin-right: 10px;}
.yzm{ float: left; height: 34px; width: 150px;margin: 10px 0 0 0;}
.yzm img{float: left;}
.yzm a{line-height: 34px; margin-left: 10px; color: #008de6;}
.yzm a:hover{text-decoration: underline;color: #008de6;}

.wxsm{ width:330px; margin:0 auto; overflow:hidden; padding-top: 20px;}
.wxsm h3{ font-size:30px; text-align:center;  margin-top:20px; overflow:hidden;}
.wxlogo{ width:200px; margin:0px auto;overflow:hidden; margin-top: 50px;}
.wxlogo img{ width:100%;}
.des{ text-align:center; line-height: 40px;color:#737373; font-size: 14px;}
.des i{font-size: 20px; color: #009b63;font-weight: bold; margin-right: 5px;}
.options{margin-top: 100px;}
.options a{float: right; margin-left: 10px;}
.options a:hover{text-decoration: underline;color: #009b63;}

.sign{width:310px; height:48px; line-height: 48px; border:none; padding:2px 10px; background: none; overflow:hidden;color:#30385f; font-size: 16px; font-family: "微软雅黑";}
.sign1{text-align: center;color: #737373;font-size: 14px; margin-top: 50px;}
.sign1 a{text-decoration: underline;color: #009b63;}
.sign1 a:hover{color: #009c63;}
.gain{ width:120px; height:48px; border:none; background-color:#00a86b; border-radius: 5px; box-sizing: content-box; overflow:hidden; color:#FFF; padding: 0;font-family: "微软雅黑"; float: left;}
.gain:hover{background: #009b63;cursor:pointer;}

.md-overlay{background: rgba(0, 0, 0, 0.2);}

input.l_input::-webkit-input-placeholder {color: #30385f;}
input.sign::-webkit-input-placeholder {color: #30385f;}
input.l_yzm::-webkit-input-placeholder {color: #30385f;}

.sear-RE:focus {
	background: #f8fcf9;
  outline: 0;
  -webkit-box-shadow: i(0,0,0,.075nset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98, 178, 87, .6);
          box-shadow: inset 0 1px 1px rgba), 0 0 8px rgba(98, 178, 87, .6);
}

@media (max-height: 850px) {
	.content{padding-top: 120px;}
}

@media (max-width: 1024px) {
	.content{padding-top: 80px;}
	.skin{ width: 100%; height: 100%; background: url(../images/back1.png) no-repeat center top #000000; background-size:100% ;}
	.search{width: 490px;}
	.sear-RE{width: 350px; height: 36px; line-height: 36px; font-size: 14px;}
	.sear-button{ height: 36px; line-height: 30px; width: 120px; font-size: 14px;}
	#word{width: 490px;}
	.recommend{font-size: 12px; margin-top: 5px;}
	.logo{width: 150px; height: 35px;}
	.logo img{height: 35px;}
	.reg-button{width: 80px;height: 27px; line-height: 25px;font-size: 12px;}
	.reg-button-1{width: 80px;height: 27px; line-height: 27px;font-size: 12px;}
	.regislist a{font-size: 12px;line-height: 27px;}
	.regislist i{font-size: 13px;}
	.bottom{font-size: 12px;height: 60px; line-height: 20px; padding-top: 25px;}
	.bottom a{font-size: 12px;}
	
}

@media (max-width: 1360px) {
.content{padding-top: 100px;}
.skin{background-size:90% ;}
.search{width: 510px;}
.sear-RE{width: 370px; height: 38px; line-height: 38px;font-size: 15px;}
.sear-button{ height: 38px; line-height: 38px; width: 120px; font-size: 15px;}
#word{width: 510px;}
.bottom{height: 60px;line-height: 20px;padding-top: 20px;font-size: 12px;}
.reg-button{width: 80px;height: 27px; line-height: 25px;font-size: 12px;}
	.reg-button-1{width: 80px;height: 27px; line-height: 27px;font-size: 12px;}
	.regislist a{font-size: 12px;line-height: 27px;}
	.regislist i{font-size: 13px;}
	.logo{width: 150px; height: 35px;}
	.logo img{height: 35px;}
}

@media (min-height: 850px) {
.content{padding-top: 160px;}
.skin{background-size:120% ;}
.search{width: 610px;}
.sear-RE{width: 440px; height: 46px; line-height: 46px;}
.sear-button{ height: 46px; line-height: 46px; width: 150px;}
#word{width: 610px;}
.reg-button{width: 100px;height: 35px; line-height: 32px;font-size: 14px;}
	.reg-button-1{width: 100px;height: 35px; line-height: 32px;font-size: 14px;}
	.regislist a{font-size: 14px;line-height: 35px;}
	.regislist i{font-size: 15px;}

}

@media (min-width: 1400px) {
.content{padding-top: 160px;}
.skin{background-size:110% ;}
.search{width: 610px;}
.sear-RE{width: 440px; height: 46px; line-height: 46px;}
.sear-button{ height: 46px; line-height: 46px; width: 150px;}
#word{width: 610px;}

}

@media (min-width: 1600px) {
.skin{background-size:90% ;}
.search{width: 610px;}
.sear-RE{width: 440px; height: 46px; line-height: 46px;}
.sear-button{ height: 46px; line-height: 46px; width: 150px; font-size: 16px;}
#word{width: 610px;}	
.logo{width: 150px; height: 42px;}
	.logo img{height: 42px;}
}

@media (min-width: 1650px) {
.search{width: 710px;}
.sear-RE{width: 530px; height: 52px; line-height: 52px;}
.sear-button{ height: 52px; line-height: 52px; width: 160px;}
#word{width: 710px;}
	
}