<div class="bottom">
    <div class="content">
        <div class="logo2"><img src="/Content/website/images/logo2.png"></div>
        <div class="menu">
            <ul>
                <span>关于蚕虫</span>
                <li><a>蚕虫简介</a></li>
                <li><a>法务专栏</a></li>
                <li><a>服务协议</a></li>
                <li><a>新闻资讯</a></li>
            </ul>
            <ul>
                <span>友情链接</span>
                <li><a>上海.恒禹软件</a></li>
                <li><a>合肥.恒禹软件</a></li>
                <li><a>360.服务平台</a></li>
            </ul>
        </div>
        <div class="contact">
            <img src="/Content/website/images/rwm1.png">
            <span>扫一扫关注 <i>蚕虫</i></span>
        </div>
        <div class="location">
            <span>联系我们</span>
            <li>客服电话：<b>021-56811576</b></li>
            <li>咨询时间：8：30-17：00</li>
            <li>公司地址：上海市嘉定区张掖路355号A222</li>
        </div>
    </div>
    <div class="content">
        <div class="bottom-1">
            <a>关于蚕虫</a>|<a>蚕虫推广</a>|<a>蚕虫大数据</a><br>Copyright ©2011-2018 HengYuSoft  浙ICP备13005809号-3
        </div>
    </div>
</div>
