<script src="/Content/js/cookie/jquery.cookie.js"></script>
<script src="~/Content/js/layer/layer.js"></script>
<div class="top-navigation">
    <div class="logo"><a href="/Site/Index"><img src="/Content/website/images/logo.png"></a></div>
    <ul id="nav" class="nav clearfix">
        <li class="nLi on"><h3><a href="/Site/searchlist">选图</a></h3></li>
        <li class="nLi"><h3><a href="/Site/list_classify">菜谱</a></h3></li>
        <li class="nLi"><h3><a href="/Site/list_classify">LED屏</a></h3></li>
        <li class="nLi"><h3><a href="/Site/list_classify">勾单</a></h3></li>
        <li class="nLi "><h3><a href="/Site/list_classify">摄影</a></h3></li>

        <li class="nLi">
            <h3><a href="#">更多</a></h3>
            <ul class="sud">
                <li><a href="#">联系客服</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">投诉与建议</a></li>
                <li><a href="#">网站公告</a></li>
            </ul>
        </li>
    </ul>
    <script id="jsID" type="text/javascript">
        jQuery("#nav").slide({
            type: "menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
            titCell: ".nLi", //鼠标触发对象
            targetCell: ".sud", //titCell里面包含的要显示/消失的对象
            effect: "slideDown", //targetCell下拉效果
            delayTime: 300, //效果时间
            triggerTime: 0, //鼠标延迟触发时间（默认150）
            returnDefault: true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
        });
    </script>

    @{
        if (@Html.ViewData["IsSearch"] != "0")
        {
            <div class="cast"><input class="cast-input" placeholder="搜索你喜欢的菜品"><button class="cast-button">搜 索</button></div>
        }
    }
    <div class="show_false">
        <a class="head-portrait"><img id="imgHeadicon" src="~/Content/img/samples/portrait04.jpg" /><span id="txtNickname"></span><i class="iconfont icon-arrowdown"></i></a>
        <div class="i_display">
            <a href="/Site/personal_center"><i class="iconfont icon-account"></i>个人中心</a>
            <a id="loginOut"><i class="iconfont icon-zhuxiao1"></i>注销</a>
        </div>
        <div class="regislist"><div class="remind">0</div><a href="/Site/shopping_cart"><i class="iconfont icon-gouwuche"></i>购物车</a></div>
    </div>
    <div class="register show_ture">
        <button class="md-trigger reg-button" data-modal="modal-1">登　录</button>
        <button class="md-trigger reg-button" data-modal="modal-2">注　册</button>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".head-portrait").click(function () {
                $(".i_display").toggle();
            });
            $('.i_display').mouseleave(function () {
                $(".i_display").toggle();
            });

            $("#loginOut").on("click", function () {
                fnOutLogin();
            });
            fnLoadTopBar();
        });

        function fnLoadTopBar() {
            var sessionKey = $.cookie("SessionKey");
            if (sessionKey != null) {
                $(".show_false").show();
                $(".show_ture").hide();
                var loginUser = $.cookie("LoginUser");
                if (loginUser != null) {
                    var objUser = eval('(' + loginUser + ')');
                    $("#txtNickname").text(objUser.F_NickName);
                    $("#imgHeadicon").attr("src", objUser.F_HeadIcon);
                }
            }
            else {
                $(".show_false").hide();
                $(".show_ture").show();
            }
        }

        function fnOutLogin() {
            var sessionKey = $.cookie("SessionKey");
            if (sessionKey != null) {
                $.ajax({
                    type: "get",
                    url: "http://localhost:1851/api/weblogin/outlogin",
                    data: { sessionKey: sessionKey },
                    success: function (data, status) {
                        if (data.State == "success") {
                            $.cookie("SessionKey", null);
                            $.cookie("LoginUser", null);
                            location.reload();
                        }
                        else {
                            layer.msg("操作失败", { icon: 2, time: 1000 });
                        }
                    }
                });
            }

        }
    </script>

</div>